{% extends "admin/student/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Изпити</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Списък изпити</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                {{ form_start(form) }}
                                <div class="col-4">
                                    {{ form_row(form.discipline) }}
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>От</label>
                                                {{ form_row(form.from) }}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>До</label>
                                                {{ form_row(form.to) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-3">
                                    <button type="submit" class="btn btn-secondary mt-3">Намери</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <table class="table table-bordered table-hover data-table">
                                <thead>
                                <tr>
                                    <th>Дисциплина</th>
                                    <th>Дата на провеждане</th>
                                    <th>Завършва</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for exam in exams %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('student_discipline_show', {'discipline' : exam.teacherExam.discipline.id}) }}">{{ exam.teacherExam.discipline.name }}</a>
                                        </td>
                                        <td>
                                            {{ exam.teacherExam.startedAt|date('d.m.Y H:i') }}
                                        </td>
                                        <td>
                                            {% if exam.finishedAt != null %}
                                                {{ exam.finishedAt|date('d.m.Y H:i') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if exam.finishedAt == null %}
                                                <a href="{{ path('student_test_take', {'examToken' : 1}) }}"
                                                   class="btn btn-secondary">Реши</a>
                                            {% endif %}
                                            <a href="{{ path('student_exam_result', {'token' : exam.teacherExam.token}) }}"
                                               class="btn btn-secondary">Резултат</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Токън</th>
                                    <th>Дисциплина</th>
                                    <th>Дата на провеждане</th>
                                    <th>Завършени</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>

{% endblock %}