{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Завършен изпит</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Списък ученици, завършили изпита</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover data-table">
                                <thead>
                                <tr>
                                    <th>Токън</th>
                                    <th>Имена</th>
                                    <th>Курсов номер</th>
                                    <th>Завършил на</th>
                                    <th>Оценка</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for studentExam in studentExams %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('teacher_exam_finished_exam_detail', {'exam' : studentExam.teacherExam.id, 'studentExam' : studentExam.id}) }}">{{ studentExam.teacherExam.token }}</a>
                                        </td>
                                        <td>
                                            {{ studentExam.author.firstName }} {{ studentExam.author.lastName }}
                                        </td>
                                        <td>
                                            {{ studentExam.author.courseNumber }}
                                        </td>
                                        <td>{% if studentExam.finishedAt != null %}{{ studentExam.finishedAt|date('d.m.Y H:i') }}{% endif %}</td>
                                        <td>{{ studentExam.evaluation }}</td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Токън</th>
                                    <th>Имена</th>
                                    <th>Курсов номер</th>
                                    <th>Завършил на</th>
                                    <th>Оценка</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer"></div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div>
    </section>

{% endblock %}