{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Изпит</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Изпит {{ studentExam.teacherExam.token }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div>На:
                                        <a href="{{ path('teacher_student_profile', {'student' : studentExam.author.id}) }}">{{ studentExam.author.firstName }} {{ studentExam.author.lastName }}</a>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Дисциплина: <a
                                                href="{{ path('teacher_discipline_show', {'discipline': studentExam.teacherExam.discipline.id}) }}">{{ studentExam.teacherExam.discipline.name }}</a>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Дата за
                                        провеждане: {{ studentExam.teacherExam.startedAt|date('d.m.Y H:i') }}</div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Завършен
                                        на: {% if studentExam.finishedAt != null %}{{ studentExam.finishedAt|date('d.m.Y H:i') }}{% endif %}</div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Токън: {{ studentExam.teacherExam.token }}</div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Оценка: {{ studentExam.evaluation }}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-3">
                        {% if studentExam.finishedAt != null %}
                            <a href="{{ path('teacher_exam_finished_exam_check', {'exam' : 1, 'studentExam' : 1}) }}"
                               class=" btn btn-primary">Провери</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}