{% extends "base.html.twig" %}

{% block content %}
    <div class="container">
        {% include "components/page-title.html.twig" with {'title' : 'Регистрация'} %}
        <section class="pt-4">
                {{ form_start(form) }}
                <div class="mb-3">
                    <div class="mb-1">
                        {{ form_label(form.type, 'Аз съм') }}
                        {{ form_row(form.type) }}
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-4">
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        <div class="mb-1">
                            <label class="" for="mobileNumber">Мобилен номер</label>
                        </div>
{#                        <div class="input-group mb-3">#}
{#                            <span class="input-group-text" id="mobile-code">+359</span>#}
{#                            <input id="mobileNumber" type="text" class="form-control" placeholder="XXXXXXXXX" aria-label="mobileNumber" aria-describedby="mobile-code">#}
{#                        </div>#}
                        {{ form_row(form.mobileNumber) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.secondName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.courseNumber) }}
                    </div>
                </div>
                <div class="row justify-content-center my-3">
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </div>

                </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}