{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Създаване на занятие</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <!-- form start -->
                        {{ form_start(form) }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{ form_row(form.startDate) }}
                                    </div>
                                    {{ form_row(form.name) }}
                                    {{ form_row(form.discipline) }}
                                    <div id="discipline-groups-area">
                                        {{ include('admin/teacher/form/lecture/discipline_group.html.twig', {'form' : form}) }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    {{ form_row(form.description) }}
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Създай</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('teacher-lecture') }}
{% endblock %}