{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Профил</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <!-- form start -->
                            {{ form_start(form) }}
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_row(form.firstName) }}
                                        {{ form_row(form.secondName) }}
                                        {{ form_row(form.lastName) }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_row(form.email) }}
                                        <label>Мобилен номер</label>
                                        {{ form_row(form.mobileNumber) }}
                                        {% if form.courseNumber is defined %}
                                            {{ form_row(form.courseNumber) }}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Запази</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}