{% if teacher is defined %}
    {% set pageComponents = {
        'layout' : 'admin/teacher/base_layout.html.twig',
        'path' : 'teacher',
        'border' : 'border-primary'
    } %}
{% elseif student is defined %}
    {% set pageComponents = {
        'layout' : 'admin/student/base_layout.html.twig',
        'path' : 'student',
        'border' : 'border-secondary'
    } %}
{% endif %}

{% extends pageComponents.layout %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Входящи съобщения</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% for message in app.flashes('success') %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="alert alert-success">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    {% for message in messages %}
                                        <a href="{{ path(pageComponents.path~'_messenger_read', {'message' : message.id}) }}">
                                            <div class="card bg-light my-3 p-2 border-4 {% if message.isReaded == false %}{{ pageComponents.border }} {% endif %}">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row justify-content-between">
                                                            <div class="col-3">От: {{ message.sender.firstName }} {{ message.sender.lastName }}</div>
                                                            <div class="col-auto">{{ message.createdAt|date('d.m.Y H:i') }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <p>Съобщение: {{ message.text|u.truncate(60, '...') }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}