{% if teacher is defined %}
    {% set pageComponents = {
        'layout' : 'admin/teacher/base_layout.html.twig',
        'path' : 'teacher'
    } %}
{% elseif student is defined %}
    {% set pageComponents = {
        'layout' : 'admin/student/base_layout.html.twig',
        'path' : 'student'
    } %}
{% endif %}

{% extends pageComponents.layout %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Съобщение</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card bg-light my-3 p-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="col-3">От: {{ message.sender.firstName }} {{ message.sender.lastName }}</div>
                                            </div>
                                            <div class="col-12">
                                                <div>Изпратено на: {{ message.createdAt|date('d.m.Y H:i') }}</div>
                                            </div>
                                            <div class="col-12">
                                                <p>Съобщение:<br>
                                                    {{ message.text|nl2br|raw }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="{{ path(pageComponents.path~"_messenger_send_new") }}" class="text-bold"><i
                                        class="fas fa-comments"></i> Отговор</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}