{% extends "admin/student/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Дисциплина</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Дисциплина {{ discipline.name }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="row">
                                <div class="col-12">
                                    <div>Преподавател: <a href="{{ path('student_teacher', {'teacher' : discipline.teacher.id}) }}">{{ discipline.teacher.firstName }} {{ discipline.teacher.lastName }}</a></div>
                                </div>
                                <div class="col-12">
                                    <div>Описание:</div>
                                    <p>
                                        {{ discipline.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}