{% set pathName = app.request.attributes.get('_route') %}
<!-- Main Sidebar Container -->
{% if 'student_discipline' in pathName %}
    {% set activeLinkDiscipline = true %}
{% elseif 'student_group' in pathName %}
    {% set activeLinkGroup = true %}
{% elseif 'student_lecture' in pathName %}
    {% set activeLinkLecture = true %}
{% elseif 'teacher_test' in pathName %}
    {% set activeLinkTest = true %}
{% elseif "student_exam" in pathName %}
    {% set activeLinkExam = true %}
{% elseif "teacher_messenger" in pathName %}
    {% set activeLinkMessenger = true %}
{% elseif "student_profile" in pathName %}
    {% set activeLinkProfile = true %}
{% endif %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path('student_dashboard') }}" class="brand-link">
        <i class="bi bi-mortarboard-fill"></i>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <nav class="user-panel mt-3 pb-3 mb-3 d-flex">
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item">
                    <a href="{{ path("student_profile") }}" class="nav-link {% if activeLinkProfile is defined %}active-green{% endif %}">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            John Doe
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('student_dashboard') }}"
                       class="nav-link {% if pathName == 'student_dashboard' %}active-green{% endif %}">
                        <i class="nav-icon fas fa-house-user"></i>
                        <p>
                            Начало
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#"
                       class="nav-link {% if activeLinkDiscipline is defined  or activeLinkGroup is defined or activeLinkLecture is defined or activeLinkTest is defined or activeLinkExam is defined %}active-green{% endif %}">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Учебен процес
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('student_group_list') }}"
                               class="nav-link {% if activeLinkGroup is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Групи</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('student_lecture_list') }}"
                               class="nav-link {% if activeLinkLecture is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Занятия</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('student_exam_list') }}"
                               class="nav-link {% if activeLinkExam is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Изпити</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path("teacher_messenger_inbox") }}"
                       class="nav-link {% if activeLinkMessenger is defined %}active-blue{% endif %}">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>
                            Съобщения
                            <i class="right fas fa-angle-left"></i>
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('teacher_messenger_send') }}"
                               class="nav-link {% if "teacher_messenger_send" in pathName %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ново</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('teacher_messenger_inbox') }}"
                               class="nav-link {% if "teacher_messenger_inbox" in pathName %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Входящи</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('teacher_messenger_sended') }}"
                               class="nav-link {% if "teacher_messenger_sended" in pathName %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Изпратени</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>