{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Добавяне на ученик</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% for message in app.flashes('error') %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="alert alert-danger">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
                {{ form_start(form) }}
                <div class="card-header">
                    <h3 class="card-title">Добавяне на ученик</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                            <div class="row">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <div>Дисциплина: <a
                                                    href="{{ path('teacher_discipline_show', {'discipline': exam.discipline.id}) }}">{{ exam.discipline.name }}</a></div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <div>Група: <a href="{{ path('teacher_group_show', {'group': group.id}) }}">Група {{ group.course}} |
                                            {{ group.formatStudyYear }} г.</a></div>
                                    </div>
                                    <div class="col-6 mb-2">
                                        {{ form_row(form.students) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Добави</button>
                </div>
            {{ form_end(form) }}
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}