{% extends "admin/student/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Групи</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Списък групи</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                {{ form_start(form, {'attr' : {'class' : 'row'}}) }}
                                <div class="col-4">
                                    {{ form_row(form.discipline) }}
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label>Учебна година</label>
                                        {{ form_row(form.year) }}
                                    </div>
                                </div>
                                <div class="col-4 mt-3">
                                    <button type="submit" class="btn btn-secondary mt-3">Намери</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <table class="table table-bordered table-hover data-table">
                                <thead>
                                <tr>
                                    <th>Курс/клас</th>
                                    <th>Учебна година</th>
                                    <th>Създадена на</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('student_group_show', {'group' : group.id}) }}">{{ group.course }}</a>
                                        </td>
                                        <td>
                                            {{ group.formatStudyYear }}
                                        </td>
                                        <td>
                                            {{ group.createdAt|date('d.m.Y H:i') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Курс/клас</th>
                                    <th>Учебна година</th>
                                    <th>Създадена на</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}