{% extends "admin/teacher/base_layout.html.twig" %}
{% set choiceIsCorrectText = {
    0: 'Грешен',
    1: 'Верен'
} %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Тест "{{ test.title }}"</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% for message in app.flashes('createTestSuccess') %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="alert alert-success">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Тест "{{ test.title }}"</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div> Създадена на: {{ test.createdAt|date('d.m.Y H:i') }}</div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div> Макс. брой точки {{ test.maxPoints }}</div>
                                </div>
                                <div class="co-12 text-bold">
                                    Въпроси:
                                </div>
                                {% for question in test.questions %}
                                    <div class="col-12 mb-2">
                                        <div class="card bg-light my-3 p-2">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="text-bold">Въпрос:</span> {{ question.text }}
                                                </div>
                                                {% if question.type == 'open' %}
                                                    <div class="col-12">
                                                        Минимална дължина на отговора: {{ question.textLength }} думи
                                                    </div>
                                                    <div class="col-12">
                                                        <span class="text-bold">Макс. точки:</span> {{ question.points }}
                                                    </div>
                                                {% endif %}
                                                {% if question.type == 'choices' %}
                                                    <div class="col-12 text-bold">Избори:</div>
                                                    <div class="col-12">
                                                        <ul>
                                                            {% for choice in question.choices %}
                                                                <li>{{ choice.possibility }} - {{ choiceIsCorrectText[choice.isCorrect] }} |
                                                                    точки: {{ choice.points }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <div class="col-12"><span
                                                                class="text-bold">Макс. точки:</span> {{ question.points }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <a href="{{ path('teacher_test_edit', {'test' : test.id}) }}" class=" btn btn-primary">Редактирай</a>
                    </div>
                    <div class="col-auto">
                        <a href="{{ path('teacher_test_delete', {'test' : test.id}) }}"
                           class=" btn btn-danger">Изтрий</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}