{% extends "admin/student/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Занятие</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Занятие {{ lecture.name }}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div> Преподавател: <a href="{{ path('student_teacher', {'teacher' : lecture.discipline.teacher.id}) }}">{{ lecture.discipline.teacher.firstName }} {{ lecture.discipline.teacher.lastName }}</a></div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div> Дата на провеждане: {{ lecture.startDate|date('d.m.Y H:i') }}</div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div> Група: <a href="{{ path('student_group_show', {'group': lecture.studentGroup.id}) }}">{{ lecture.studentGroup.course}} | {{ lecture.studentGroup.formatStudyYear }}</a></div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div> Дисциплина: <a href="{{ path('student_discipline_show', {"discipline" : lecture.discipline.id}) }}">{{ lecture.discipline.name }}</a></div>
                                </div>
                                <div class="col-12 mb-2">
                                    <div>Описание:</div>
                                    <p>{{ lecture.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}