{% extends "base.html.twig" %}
{% set userType = {1 : 'преподавател', 2 : 'ученик'} %}
{% block content %}
    <div class="container">
        {% include "components/page-title.html.twig" with {'title': 'Влез като '~userType[type]} %}
        {% for message in app.flashes('registerSuccess') %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="alert alert-success">{{ message }}</div>
                </div>
            </div>
        {% endfor %}
        {% if error is defined and error is not null %}
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            </div>

        {% endif %}
        <section>
            {{ form_start(form) }}
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </div>
                </div>

            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}