{% extends "admin/teacher/base_layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Групи</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% for message in app.flashes('deleteGroupSuccess') %}
                <div class="row mt-3">
                    <div class="col-auto">
                        <div class="alert alert-warning">{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Списък групи</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                {{ form_start(form, {'attr': {'class' : 'row'}}) }}
                                <div class="col-4">
                                    {{ form_row(form.discipline) }}
{#                                    <div class="form-group">#}
{#                                        <label for="discipline">Дисциплина</label>#}
{#                                        <select class="form-control" name="discipline" style="width: 100%;">#}
{#                                            <option>Избери...</option>#}
{#                                            <option>Alabama</option>#}
{#                                            <option>Alaska</option>#}
{#                                            <option>Delaware</option>#}
{#                                        </select>#}
{#                                    </div>#}
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <!-- Date yyyy -->
                                        <div class="form-group">
                                            <label>Учебна година</label>
                                            {{ form_row(form.year) }}
{#                                            <div class="input-group">#}
{#                                                <div class="input-group-prepend">#}
{#                                                        <span class="input-group-text"><i#}
{#                                                                    class="far fa-calendar-alt"></i></span>#}
{#                                                </div>#}
{#                                                <input type="text" class="form-control year-mask"#}
{#                                                       data-inputmask-alias="datetime"#}
{#                                                       data-inputmask-inputformat="yyyy" data-mask>#}
{#                                            </div>#}
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mt-3">
                                    <button type="submit" class="btn btn-primary mt-3">Намери</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                            <table class="table table-bordered table-hover data-table">
                                <thead>
                                <tr>
                                    <th>Курс/клас</th>
                                    <th>Учебна година</th>
                                    <th>Създадена на</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for group in groups %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('teacher_group_show', {'group' : group.id}) }}">{{ group.course }}</a>
                                        </td>
                                        <td>{{ group.formatStudyYear }}</td>
                                        <td>{{ group.createdAt|date('d.m.Y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Курс/клас</th>
                                    <th>Учебна година</th>
                                    <th>Създадена на</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-3">
                                    <a href="{{ path('teacher_group_new') }}" class=" btn btn-primary">Създай група</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}